

.header {
  padding: 20px;
  margin: 10px;
  text-align: center;
  color: rgb(48, 15, 139);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (min-width: 768px){}
  .responsive {
    width: 100%;
  
  }


    